# Capstone Project - The Battle of the Neighborhoods
#### Applied Data Science Capstone

In [1]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
import json # library to handle JSON files
#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
# import k-means from clustering stage
from sklearn.cluster import KMeans
#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2020.4.5.1         |   py36h9f0ad1d_0         151 KB  conda-forge
    openssl-1.1.1f             |       h516909a_0         2.1 MB  conda-forge
    branca-0.4.0               |             py_0          26 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    python_abi-3.6             |          1_cp36m           4 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    altair-4.1.0               |             py_1         614 KB  conda-forge
    ca-certificates-2020.4.5.1 |       hecc5488_0         146 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         3.1 MB

The following NEW packages will be INSTALLED:

    altair:          4.1.0-py_1        conda-forge
    branca:          0.4.0-py_0        conda-forge
    folium:          0.5.0-py_0        conda-forge
    python_abi:      3.6-1_cp36m       conda-forge
    vincent:         0.4.4-py_1        conda-forge

The following packages will be UPDATED:

    ca-certificates: 2020.1.1-0                    --> 2020.4.5.1-hecc5488_0     conda-forge
    certifi:         2020.4.5.1-py36_0             --> 2020.4.5.1-py36h9f0ad1d_0 conda-forge
    openssl:         1.1.1f-h7b6447c_0             --> 1.1.1f-h516909a_0         conda-forge


Downloading and Extracting Packages
certifi-2020.4.5.1   | 151 KB    | ##################################### | 100%
openssl-1.1.1f       | 2.1 MB    | ##################################### | 100%
branca-0.4.0         | 26 KB     | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
python_abi-3.6       | 4 KB      | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
altair-4.1.0         | 614 KB    | ##################################### | 100%
ca-certificates-2020 | 146 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Libraries imported.

## Step1 Download and Process Neighborhood Data for Toronto, Yorkville

In [2]:
import html5lib
import lxml

In [3]:
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", header=0)[0]
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [4]:
df1 = df[df.Borough != 'Not assigned']
df1

,Postal code,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
5,M6A,North York,Lawrence Manor / Lawrence Heights
6,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government
8,M9A,Etobicoke,Islington Avenue
9,M1B,Scarborough,Malvern / Rouge
11,M3B,North York,Don Mills
12,M4B,East York,Parkview Hill / Woodbine Gardens
13,M5B,Downtown Toronto,"Garden District, Ryerson"
14,M6B,North York,Glencairn
17,M9B,Etobicoke,West Deane Park / Princess Gardens / Martin Gr...
18,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek
20,M3C,North York,Don Mills
21,M4C,East York,Woodbine Heights
22,M5C,Downtown Toronto,St. James Town
23,M6C,York,Humewood-Cedarvale
26,M9C,Etobicoke,Eringate / Bloordale Gardens / Old Burnhamthor...
27,M1E,Scarborough,Guildwood / Morningside / West Hill
30,M4E,East Toronto,The Beaches
31,M5E,Downtown Toronto,Berczy Park
32,M6E,York,Caledonia-Fairbanks
36,M1G,Scarborough,Woburn
39,M4G,East York,Leaside
40,M5G,Downtown Toronto,Central Bay Street
41,M6G,Downtown Toronto,Christie
45,M1H,Scarborough,Cedarbrae
46,M2H,North York,Hillcrest Village
47,M3H,North York,Bathurst Manor / Wilson Heights / Downsview North
48,M4H,East York,Thorncliffe Park
...,...,...,...
111,M4R,Central Toronto,North Toronto West
112,M5R,Central Toronto,The Annex / North Midtown / Yorkville
113,M6R,West Toronto,Parkdale / Roncesvalles
114,M7R,Mississauga,Canada Post Gateway Processing Centre
116,M9R,Etobicoke,Kingsview Village / St. Phillips / Martin Grov...
117,M1S,Scarborough,Agincourt
120,M4S,Central Toronto,Davisville
121,M5S,Downtown Toronto,University of Toronto / Harbord
122,M6S,West Toronto,Runnymede / Swansea
126,M1T,Scarborough,Clarks Corners / Tam O'Shanter / Sullivan
129,M4T,Central Toronto,Moore Park / Summerhill East
130,M5T,Downtown Toronto,Kensington Market / Chinatown / Grange Park
135,M1V,Scarborough,Milliken / Agincourt North / Steeles East / L'...
138,M4V,Central Toronto,Summerhill West / Rathnelly / South Hill / For...
139,M5V,Downtown Toronto,CN Tower / King and Spadina / Railway Lands / ...
142,M8V,Etobicoke,New Toronto / Mimico South / Humber Bay Shores
143,M9V,Etobicoke,South Steeles / Silverstone / Humbergate / Jam...
144,M1W,Scarborough,Steeles West / L'Amoreaux West
147,M4W,Downtown Toronto,Rosedale
148,M5W,Downtown Toronto,Stn A PO Boxes
151,M8W,Etobicoke,Alderwood / Long Branch
152,M9W,Etobicoke,Northwest
153,M1X,Scarborough,Upper Rouge
156,M4X,Downtown Toronto,St. James Town / Cabbagetown
157,M5X,Downtown Toronto,First Canadian Place / Underground city
160,M8X,Etobicoke,The Kingsway / Montgomery Road / Old Mill North
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,Business reply mail Processing CentrE
169,M8Y,Etobicoke,Old Mill South / King's Mill Park / Sunnylea /...
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...

In [5]:
func = {'Postal code':'first', 'Borough': 'sum', 'Neighborhood': 'sum'}
df2 = df1.groupby(df1['Postal code']).aggregate(func).reindex(columns=df1.columns)
df2.reset_index(drop=True, inplace=True)
df2 = df2.rename(columns={'Postal code': 'Postal Code', 'Borough': 'Borough', 'Neighborhood': 'Neighborhood'})
df2.head()

  Postal Code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern / Rouge
1         M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2         M1E  Scarborough       Guildwood / Morningside / West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

In [6]:
df2.shape

(103, 3)

In [7]:
df_geo = pd.read_csv('https://cocl.us/Geospatial_data')

In [8]:
neighborhoods_tr = pd.merge(left=df2, right=df_geo, on='Postal Code')
neighborhoods_tr

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,43.784535,-79.160497
2,M1E,Scarborough,Guildwood / Morningside / West Hill,43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,Kennedy Park / Ionview / East Birchmount Park,43.727929,-79.262029
7,M1L,Scarborough,Golden Mile / Clairlea / Oakridge,43.711112,-79.284577
8,M1M,Scarborough,Cliffside / Cliffcrest / Scarborough Village West,43.716316,-79.239476
9,M1N,Scarborough,Birch Cliff / Cliffside West,43.692657,-79.264848
10,M1P,Scarborough,Dorset Park / Wexford Heights / Scarborough To...,43.757410,-79.273304
11,M1R,Scarborough,Wexford / Maryvale,43.750072,-79.295849
12,M1S,Scarborough,Agincourt,43.794200,-79.262029
13,M1T,Scarborough,Clarks Corners / Tam O'Shanter / Sullivan,43.781638,-79.304302
14,M1V,Scarborough,Milliken / Agincourt North / Steeles East / L'...,43.815252,-79.284577
15,M1W,Scarborough,Steeles West / L'Amoreaux West,43.799525,-79.318389
16,M1X,Scarborough,Upper Rouge,43.836125,-79.205636
17,M2H,North York,Hillcrest Village,43.803762,-79.363452
18,M2J,North York,Fairview / Henry Farm / Oriole,43.778517,-79.346556
19,M2K,North York,Bayview Village,43.786947,-79.385975
20,M2L,North York,York Mills / Silver Hills,43.757490,-79.374714
21,M2M,North York,Willowdale / Newtonbrook,43.789053,-79.408493
22,M2N,North York,Willowdale,43.770120,-79.408493
23,M2P,North York,York Mills West,43.752758,-79.400049
24,M2R,North York,Willowdale,43.782736,-79.442259
25,M3A,North York,Parkwoods,43.753259,-79.329656
26,M3B,North York,Don Mills,43.745906,-79.352188
27,M3C,North York,Don Mills,43.725900,-79.340923
28,M3H,North York,Bathurst Manor / Wilson Heights / Downsview North,43.754328,-79.442259
29,M3J,North York,Northwood Park / York University,43.767980,-79.487262
...,...,...,...,...,...
73,M6C,York,Humewood-Cedarvale,43.693781,-79.428191
74,M6E,York,Caledonia-Fairbanks,43.689026,-79.453512
75,M6G,Downtown Toronto,Christie,43.669542,-79.422564
76,M6H,West Toronto,Dufferin / Dovercourt Village,43.669005,-79.442259
77,M6J,West Toronto,Little Portugal / Trinity,43.647927,-79.419750
78,M6K,West Toronto,Brockton / Parkdale Village / Exhibition Place,43.636847,-79.428191
79,M6L,North York,North Park / Maple Leaf Park / Upwood Park,43.713756,-79.490074
80,M6M,York,Del Ray / Mount Dennis / Keelsdale and Silvert...,43.691116,-79.476013
81,M6N,York,Runnymede / The Junction North,43.673185,-79.487262
82,M6P,West Toronto,High Park / The Junction South,43.661608,-79.464763
83,M6R,West Toronto,Parkdale / Roncesvalles,43.648960,-79.456325
84,M6S,West Toronto,Runnymede / Swansea,43.651571,-79.484450
85,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government,43.662301,-79.389494
86,M7R,Mississauga,Canada Post Gateway Processing Centre,43.636966,-79.615819
87,M7Y,East Toronto,Business reply mail Processing CentrE,43.662744,-79.321558
88,M8V,Etobicoke,New Toronto / Mimico South / Humber Bay Shores,43.605647,-79.501321
89,M8W,Etobicoke,Alderwood / Long Branch,43.602414,-79.543484
90,M8X,Etobicoke,The Kingsway / Montgomery Road / Old Mill North,43.653654,-79.506944
91,M8Y,Etobicoke,Old Mill South / King's Mill Park / Sunnylea /...,43.636258,-79.498509
92,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...,43.628841,-79.520999
93,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
94,M9B,Etobicoke,West Deane Park / Princess Gardens / Martin Gr...,43.650943,-79.554724
95,M9C,Etobicoke,Eringate / Bloordale Gardens / Old Burnhamthor...,43.643515,-79.577201
96,M9L,North York,Humber Summit,43.756303,-79.565963
97,M9M,North York,Humberlea / Emery,43.724766,-79.532242
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,Kingsview Village / St. Phillips / Martin Grov...,43.688905,-79.554724
101,M9V,Etobicoke,South Steeles / Silverstone / Humbergate / Jam...,43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054

In [9]:
address = 'Yorkville, CA'

geolocator = Nominatim(user_agent="tr_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Yorkville are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Yorkville are 43.6713861, -79.3901677.

In [10]:
# create map of Manhattan using latitude and longitude values
map_yorkville = folium.Map(location=[latitude, longitude], zoom_start=15)  
    
map_yorkville

In [11]:
# define the dataframe columns
column_names = ['Borough', 'Neighborhood', 'Latitude', 'Longitude'] 

# instantiate the dataframe
neighborhoods_yk = pd.DataFrame(columns=column_names)

In [12]:
borough = 'Central Toronto'
neighborhood_name = 'Yorkville_CN'
neighborhood_lat = location.latitude
neighborhood_lon = location.longitude
    
neighborhoods_yk = neighborhoods_yk.append({'Borough': borough,
                                          'Neighborhood': neighborhood_name,
                                          'Latitude': neighborhood_lat,
                                          'Longitude': neighborhood_lon}, ignore_index=True)

In [13]:
neighborhoods_yk

           Borough  Neighborhood   Latitude  Longitude
0  Central Toronto  Yorkville_CN  43.671386 -79.390168

## Step2 Download Neighborhood Data for New York

In [14]:
# Down load the neighborhood data for New York
!wget -q -O 'newyork_data.json' https://cocl.us/new_york_dataset
print('Data downloaded!')

Data downloaded!

In [15]:
with open('newyork_data.json') as json_data:
    newyork_data = json.load(json_data)

In [16]:
neighborhoods_data_ny = newyork_data['features']

In [17]:
# define the dataframe columns
column_names_ny = ['Borough', 'Neighborhood', 'Latitude', 'Longitude'] 

# instantiate the dataframe
neighborhoods_ny = pd.DataFrame(columns=column_names)

In [18]:
for data in neighborhoods_data_ny:
    borough = neighborhood_name = data['properties']['borough'] 
    neighborhood_name = data['properties']['name']
        
    neighborhood_latlon = data['geometry']['coordinates']
    neighborhood_lat = neighborhood_latlon[1]
    neighborhood_lon = neighborhood_latlon[0]
    
    neighborhoods_ny = neighborhoods_ny.append({'Borough': borough,
                                          'Neighborhood': neighborhood_name,
                                          'Latitude': neighborhood_lat,
                                          'Longitude': neighborhood_lon}, ignore_index=True)

In [19]:
neighborhoods_ny.head()

  Borough Neighborhood   Latitude  Longitude
0   Bronx    Wakefield  40.894705 -73.847201
1   Bronx   Co-op City  40.874294 -73.829939
2   Bronx  Eastchester  40.887556 -73.827806
3   Bronx    Fieldston  40.895437 -73.905643
4   Bronx    Riverdale  40.890834 -73.912585

In [20]:
neighborhoods_ny.shape

(306, 4)

In [21]:
# Since we are interested in Manhattan, we create a new dataframe of the Manhattan data.
neighborhoods_mh = neighborhoods_ny[neighborhoods_ny['Borough'] == 'Manhattan'].reset_index(drop=True)
neighborhoods_mh.head()

     Borough        Neighborhood   Latitude  Longitude
0  Manhattan         Marble Hill  40.876551 -73.910660
1  Manhattan           Chinatown  40.715618 -73.994279
2  Manhattan  Washington Heights  40.851903 -73.936900
3  Manhattan              Inwood  40.867684 -73.921210
4  Manhattan    Hamilton Heights  40.823604 -73.949688

In [22]:
neighborhoods_mh.shape

(40, 4)

## Step3 Define Foursquare Credentials and Version

In [23]:
CLIENT_ID = 'S11VNEPJROJK3W11FZZAEAZ5YGPHWFADCVN2WLR02DS1NAFO' # your Foursquare ID
CLIENT_SECRET = 'SAMJUM4ABLYDECVRUVJNEHXFHBITZZEQYSQVCYKLQJO1D03Q' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: S11VNEPJROJK3W11FZZAEAZ5YGPHWFADCVN2WLR02DS1NAFO
CLIENT_SECRET:SAMJUM4ABLYDECVRUVJNEHXFHBITZZEQYSQVCYKLQJO1D03Q

# Step4 Explore Neighborhoods in Manhatten Together with Yorkville in Canada

We use Manhatten data since Manhatten is the central of New York City and it has the highest posibbility to find a neighborhood likes Yorkville in Canada.

In [24]:
# Define function to get the top 100 venues with in radius in the neighborhood list
LIMIT = 100
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [25]:
# Test the getNearbyVenues function by getting the venues in Yorkville Canada
yorkville_venues = getNearbyVenues(names=['Yorkville_CA'],
                                   latitudes=[latitude],
                                   longitudes=[longitude]
                                  )

Yorkville_CA

In [26]:
yorkville_venues.head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Yorkville_CA,43.671386,-79.390168,Trattoria Nervosa,43.671019,-79.391081,Italian Restaurant
1,Yorkville_CA,43.671386,-79.390168,Paramount Fine Foods,43.670677,-79.389865,Middle Eastern Restaurant
2,Yorkville_CA,43.671386,-79.390168,Four Seasons Hotel Toronto,43.671796,-79.389457,Hotel
3,Yorkville_CA,43.671386,-79.390168,Summer's Homemade Ice Cream,43.670903,-79.392299,Ice Cream Shop
4,Yorkville_CA,43.671386,-79.390168,Pi Co.,43.670107,-79.389852,Pizza Place

In [27]:
yorkville_venues.shape

(100, 7)

Now, lets merge the neighborhood of Yorkville Canada with New York City

In [28]:
neighborhoods_yk

           Borough  Neighborhood   Latitude  Longitude
0  Central Toronto  Yorkville_CN  43.671386 -79.390168

In [29]:
neighborhoods_yk.shape

(1, 4)

In [30]:
neighborhoods_mh.head()

     Borough        Neighborhood   Latitude  Longitude
0  Manhattan         Marble Hill  40.876551 -73.910660
1  Manhattan           Chinatown  40.715618 -73.994279
2  Manhattan  Washington Heights  40.851903 -73.936900
3  Manhattan              Inwood  40.867684 -73.921210
4  Manhattan    Hamilton Heights  40.823604 -73.949688

In [31]:
neighborhoods_mh.shape

(40, 4)

In [32]:
frames = [neighborhoods_yk, neighborhoods_mh]
neighborhoods_ykmh = pd.concat(frames)
neighborhoods_ykmh.head()

           Borough        Neighborhood   Latitude  Longitude
0  Central Toronto        Yorkville_CN  43.671386 -79.390168
0        Manhattan         Marble Hill  40.876551 -73.910660
1        Manhattan           Chinatown  40.715618 -73.994279
2        Manhattan  Washington Heights  40.851903 -73.936900
3        Manhattan              Inwood  40.867684 -73.921210

In [33]:
neighborhoods_ykmh.shape

(41, 4)

In [34]:
# Run the above function on each neighborhood and create a new dataframe called ykmh_venues
ykmh_venues = getNearbyVenues(names=neighborhoods_ykmh['Neighborhood'],
                                   latitudes=neighborhoods_ykmh['Latitude'],
                                   longitudes=neighborhoods_ykmh['Longitude']
                                  )

Yorkville_CN
Marble Hill
Chinatown
Washington Heights
Inwood
Hamilton Heights
Manhattanville
Central Harlem
East Harlem
Upper East Side
Yorkville
Lenox Hill
Roosevelt Island
Upper West Side
Lincoln Square
Clinton
Midtown
Murray Hill
Chelsea
Greenwich Village
East Village
Lower East Side
Tribeca
Little Italy
Soho
West Village
Manhattan Valley
Morningside Heights
Gramercy
Battery Park City
Financial District
Carnegie Hill
Noho
Civic Center
Midtown South
Sutton Place
Turtle Bay
Tudor City
Stuyvesant Town
Flatiron
Hudson Yards

In [35]:
# check the size of the result dataframe
print(ykmh_venues.shape)
ykmh_venues.head()

(3089, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Yorkville_CN,43.671386,-79.390168,Trattoria Nervosa,43.671019,-79.391081,Italian Restaurant
1,Yorkville_CN,43.671386,-79.390168,Paramount Fine Foods,43.670677,-79.389865,Middle Eastern Restaurant
2,Yorkville_CN,43.671386,-79.390168,Four Seasons Hotel Toronto,43.671796,-79.389457,Hotel
3,Yorkville_CN,43.671386,-79.390168,Summer's Homemade Ice Cream,43.670903,-79.392299,Ice Cream Shop
4,Yorkville_CN,43.671386,-79.390168,Pi Co.,43.670107,-79.389852,Pizza Place

## Step5 Analyze Each Neighborhood in Manhatten Together with Yorkville Canada

In [36]:
# one hot encoding
ykmh_onehot = pd.get_dummies(ykmh_venues[['Venue Category']], prefix="", prefix_sep="")
# add neighborhood column back to dataframe
ykmh_onehot['Neighborhood'] = ykmh_venues['Neighborhood'] 
# move neighborhood column to the first column
fixed_columns = [ykmh_onehot.columns[-1]] + list(ykmh_onehot.columns[:-1])
ykmh_onehot = ykmh_onehot[fixed_columns]
ykmh_onehot.head()

,Neighborhood,Accessories Store,Adult Boutique,African Restaurant,American Restaurant,Antique Shop,Arcade,Arepa Restaurant,Argentinian Restaurant,Art Gallery,...,Video Store,Vietnamese Restaurant,Volleyball Court,Waterfront,Whisky Bar,Wine Bar,Wine Shop,Wings Joint,Women's Store,Yoga Studio
0,Yorkville_CN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Yorkville_CN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Yorkville_CN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Yorkville_CN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Yorkville_CN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
ykmh_onehot.shape

(3089, 319)

In [38]:
# Group rows by neighborhood and by taking the mean of the frequency of occurrence of each category
ykmh_grouped = ykmh_onehot.groupby('Neighborhood').mean().reset_index()
ykmh_grouped.head()

,Neighborhood,Accessories Store,Adult Boutique,African Restaurant,American Restaurant,Antique Shop,Arcade,Arepa Restaurant,Argentinian Restaurant,Art Gallery,...,Video Store,Vietnamese Restaurant,Volleyball Court,Waterfront,Whisky Bar,Wine Bar,Wine Shop,Wings Joint,Women's Store,Yoga Studio
0,Battery Park City,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.035714,0.0,0.00,0.000000
1,Carnegie Hill,0.0,0.0,0.000000,0.011628,0.0,0.0,0.0,0.011628,0.000000,...,0.0,0.011628,0.0,0.0,0.0,0.011628,0.034884,0.0,0.00,0.034884
2,Central Harlem,0.0,0.0,0.044444,0.044444,0.0,0.0,0.0,0.000000,0.022222,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.00,0.000000
3,Chelsea,0.0,0.0,0.000000,0.020000,0.0,0.0,0.0,0.000000,0.130000,...,0.0,0.000000,0.0,0.0,0.0,0.010000,0.010000,0.0,0.01,0.000000
4,Chinatown,0.0,0.0,0.000000,0.030000,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.010000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.00,0.010000

In [39]:
ykmh_grouped.shape

(41, 319)

## Step6 Cluster Neighborhood

In [40]:
# Run k-means to cluster the neighborhood into 5 clusters.
# set number of clusters
kclusters = 5

ykmh_grouped_clustering = ykmh_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(ykmh_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_

array([3, 2, 1, 2, 1, 1, 1, 0, 2, 1, 1, 2, 2, 0, 1, 0, 2, 1, 1, 1, 1, 2,
       2, 1, 1, 0, 2, 2, 3, 2, 4, 2, 1, 0, 2, 1, 2, 0, 2, 2, 1],
      dtype=int32)

In [48]:
# add clustering labels
neighborhoods_ykmh.insert(0, 'Cluster Labels', kmeans.labels_)

neighborhoods_ykmh

    Cluster Labels          Borough         Neighborhood   Latitude  Longitude
0                3  Central Toronto         Yorkville_CN  43.671386 -79.390168
0                2        Manhattan          Marble Hill  40.876551 -73.910660
1                1        Manhattan            Chinatown  40.715618 -73.994279
2                2        Manhattan   Washington Heights  40.851903 -73.936900
3                1        Manhattan               Inwood  40.867684 -73.921210
4                1        Manhattan     Hamilton Heights  40.823604 -73.949688
5                1        Manhattan       Manhattanville  40.816934 -73.957385
6                0        Manhattan       Central Harlem  40.815976 -73.943211
7                2        Manhattan          East Harlem  40.792249 -73.944182
8                1        Manhattan      Upper East Side  40.775639 -73.960508
9                1        Manhattan            Yorkville  40.775930 -73.947118
10               2        Manhattan           Lenox Hill  40.768113 -73.958860
11               2        Manhattan     Roosevelt Island  40.762160 -73.949168
12               0        Manhattan      Upper West Side  40.787658 -73.977059
13               1        Manhattan       Lincoln Square  40.773529 -73.985338
14               0        Manhattan              Clinton  40.759101 -73.996119
15               2        Manhattan              Midtown  40.754691 -73.981669
16               1        Manhattan          Murray Hill  40.748303 -73.978332
17               1        Manhattan              Chelsea  40.744035 -74.003116
18               1        Manhattan    Greenwich Village  40.726933 -73.999914
19               1        Manhattan         East Village  40.727847 -73.982226
20               2        Manhattan      Lower East Side  40.717807 -73.980890
21               2        Manhattan              Tribeca  40.721522 -74.010683
22               1        Manhattan         Little Italy  40.719324 -73.997305
23               1        Manhattan                 Soho  40.722184 -74.000657
24               0        Manhattan         West Village  40.734434 -74.006180
25               2        Manhattan     Manhattan Valley  40.797307 -73.964286
26               2        Manhattan  Morningside Heights  40.808000 -73.963896
27               3        Manhattan             Gramercy  40.737210 -73.981376
28               2        Manhattan    Battery Park City  40.711932 -74.016869
29               4        Manhattan   Financial District  40.707107 -74.010665
30               2        Manhattan        Carnegie Hill  40.782683 -73.953256
31               1        Manhattan                 Noho  40.723259 -73.988434
32               0        Manhattan         Civic Center  40.715229 -74.005415
33               2        Manhattan        Midtown South  40.748510 -73.988713
34               1        Manhattan         Sutton Place  40.760280 -73.963556
35               2        Manhattan           Turtle Bay  40.752042 -73.967708
36               0        Manhattan           Tudor City  40.746917 -73.971219
37               2        Manhattan      Stuyvesant Town  40.731000 -73.974052
38               2        Manhattan             Flatiron  40.739673 -73.990947
39               1        Manhattan         Hudson Yards  40.756658 -74.000111

In [49]:
neighborhoods_ykmh.shape

(41, 5)

In [51]:
#ykmh_grouped.insert(0, 'Cluster Labels', kmeans.labels_)
ykmh_grouped

,Cluster Labels,Neighborhood,Accessories Store,Adult Boutique,African Restaurant,American Restaurant,Antique Shop,Arcade,Arepa Restaurant,Argentinian Restaurant,...,Video Store,Vietnamese Restaurant,Volleyball Court,Waterfront,Whisky Bar,Wine Bar,Wine Shop,Wings Joint,Women's Store,Yoga Studio
0,3,Battery Park City,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.035714,0.000000,0.000000,0.000000
1,2,Carnegie Hill,0.000000,0.000000,0.000000,0.011628,0.000000,0.000000,0.000000,0.011628,...,0.00,0.011628,0.000000,0.000000,0.000000,0.011628,0.034884,0.000000,0.000000,0.034884
2,1,Central Harlem,0.000000,0.000000,0.044444,0.044444,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2,Chelsea,0.000000,0.000000,0.000000,0.020000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.010000,0.010000,0.000000,0.010000,0.000000
4,1,Chinatown,0.000000,0.000000,0.000000,0.030000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000
5,1,Civic Center,0.000000,0.000000,0.000000,0.022472,0.011236,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.011236,0.022472,0.000000,0.000000,0.033708
6,1,Clinton,0.000000,0.000000,0.000000,0.030000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.010000,0.040000,0.000000,0.000000,0.000000
7,0,East Harlem,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,2,East Village,0.000000,0.000000,0.000000,0.010000,0.000000,0.000000,0.010000,0.010000,...,0.00,0.030000,0.000000,0.000000,0.000000,0.020000,0.010000,0.000000,0.000000,0.000000
9,1,Financial District,0.000000,0.000000,0.000000,0.030000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,0.000000,0.000000,0.010000
10,1,Flatiron,0.000000,0.000000,0.000000,0.010638,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.031915,0.000000,0.000000,0.031915
11,2,Gramercy,0.000000,0.000000,0.000000,0.028571,0.000000,0.014286,0.000000,0.000000,...,0.00,0.014286,0.000000,0.000000,0.000000,0.000000,0.028571,0.000000,0.000000,0.014286
12,2,Greenwich Village,0.000000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.030000,0.000000,0.000000,0.000000,0.010000
13,0,Hamilton Heights,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.016949,0.000000,0.000000,0.000000,0.033898
14,1,Hudson Yards,0.000000,0.000000,0.000000,0.056604,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.018868,0.000000,0.000000,0.000000
15,0,Inwood,0.000000,0.000000,0.000000,0.035714,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.035714,0.017857,0.000000,0.000000,0.017857
16,2,Lenox Hill,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.010000,0.020000,0.000000,0.010000,0.000000
17,1,Lincoln Square,0.010417,0.000000,0.000000,0.031250,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.010417,0.031250,0.000000,0.000000,0.010417
18,1,Little Italy,0.000000,0.000000,0.000000,0.020000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.010000,0.000000,0.000000,0.000000,0.010000,0.010000,0.000000,0.010000,0.000000
19,1,Lower East Side,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.022727,...,0.00,0.022727,0.000000,0.000000,0.000000,0.000000,0.022727,0.000000,0.022727,0.022727
20,1,Manhattan Valley,0.000000,0.000000,0.000000,0.029412,0.000000,0.000000,0.000000,0.000000,...,0.00,0.029412,0.000000,0.000000,0.000000,0.000000,0.029412,0.029412,0.000000,0.058824
21,2,Manhattanville,0.000000,0.000000,0.000000,0.021277,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,2,Marble Hill,0.000000,0.000000,0.000000,0.040000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.040000
23,1,Midtown,0.000000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,0.010000
24,1,Midtown South,0.000000,0.000000,0.000000,0.011765,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.011765
25,0,Morningside Heights,0.000000,0.000000,0.000000,0.076923,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26,2,Murray Hill,0.000000,0.000000,0.000000,0.025000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.025000,0.000000,0.000000,0.000000,0.000000,0.012500,0.000000,0.000000,0.012500
27,2,Noho,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010204,0.000000,...,0.00,0.010204,0.000000,0.000000,0.000000,0.030612,0.030612,0.000000,0.000000,0.000000
28,3,Roosevelt Island,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.037037,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
29,2,Soho,0.000000,0.000000,0.000000,0.014706,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.014706,0.000000,0.000000,0.014706,0.014706
30,4,Stuyvesant Town,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
31,2,Sutton Place,0.000000,0.011111,0.000000,0.011111,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.011111,0.022222,0.000000,0.000000,0.022222
32,1,Tribeca,0.000000,0.000000,0.000000,0.040000,0.000000,0.000000,0.000000,0.013333,...,0.00,0.000000,0.013333,0.000000,0.013333,0.040000,0.026667,0.000000,0.000000,0.013333
33,0,Tudor City,0.000000,0.000000,0.000000,0.013699,0.000000,0.000000,0.000000,0.000000,...,0.00,0.027397,0.000000,0.000000,0.000000,0.000000,0.013699,0.013699,0.000000,0.013699
34,2,Turtle Bay,0.000000,0.000000,0.000000,0.020000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.030000,0.000000,0.000000,0.000000,0.000000
35,1,Upper East Side,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,0.000000,0.011111,0.033333
36,2,Upper West Side,0.000000,0.000000,0.000000,0.015873,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.047619,0.015873,0.000000,0.000000,0.000000
37,0,Washington Heights,0.011111,0.000000,0.000000,0.011111,0.000000,0.000000,0.011111,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.011111,0.022222,0.000000,0.011111,0.000000
38,2,West Village,0.000000,0.000000,0.000000,0.040000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.080000,0.000000,0.000000,0.000000,0.000000
39,2,Yorkville,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.01,0.020000,0.000000,0.000000,0.000000,0.010000,0.030000,0.010000,0.000000,0.000000
40,1,Yorkville_CN,0.010000,0.000000,0.000000,0.020000,0.000000,0.000000,0.000000,0.000000,...,0.01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.030000,0.020000

Let's create a map of Manhattan.

In [52]:
address = 'Manhattan, NY'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Manhattan are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Manhattan are 40.7896239, -73.9598939.

In [53]:
neighborhoods_mh2 = neighborhoods_ykmh.copy()
neighborhoods_mh2.shape

(41, 5)

In [54]:
neighborhoods_mh2 = neighborhoods_mh2[neighborhoods_mh2.Neighborhood != 'Yorkville_CN']
neighborhoods_mh2

    Cluster Labels    Borough         Neighborhood   Latitude  Longitude
0                2  Manhattan          Marble Hill  40.876551 -73.910660
1                1  Manhattan            Chinatown  40.715618 -73.994279
2                2  Manhattan   Washington Heights  40.851903 -73.936900
3                1  Manhattan               Inwood  40.867684 -73.921210
4                1  Manhattan     Hamilton Heights  40.823604 -73.949688
5                1  Manhattan       Manhattanville  40.816934 -73.957385
6                0  Manhattan       Central Harlem  40.815976 -73.943211
7                2  Manhattan          East Harlem  40.792249 -73.944182
8                1  Manhattan      Upper East Side  40.775639 -73.960508
9                1  Manhattan            Yorkville  40.775930 -73.947118
10               2  Manhattan           Lenox Hill  40.768113 -73.958860
11               2  Manhattan     Roosevelt Island  40.762160 -73.949168
12               0  Manhattan      Upper West Side  40.787658 -73.977059
13               1  Manhattan       Lincoln Square  40.773529 -73.985338
14               0  Manhattan              Clinton  40.759101 -73.996119
15               2  Manhattan              Midtown  40.754691 -73.981669
16               1  Manhattan          Murray Hill  40.748303 -73.978332
17               1  Manhattan              Chelsea  40.744035 -74.003116
18               1  Manhattan    Greenwich Village  40.726933 -73.999914
19               1  Manhattan         East Village  40.727847 -73.982226
20               2  Manhattan      Lower East Side  40.717807 -73.980890
21               2  Manhattan              Tribeca  40.721522 -74.010683
22               1  Manhattan         Little Italy  40.719324 -73.997305
23               1  Manhattan                 Soho  40.722184 -74.000657
24               0  Manhattan         West Village  40.734434 -74.006180
25               2  Manhattan     Manhattan Valley  40.797307 -73.964286
26               2  Manhattan  Morningside Heights  40.808000 -73.963896
27               3  Manhattan             Gramercy  40.737210 -73.981376
28               2  Manhattan    Battery Park City  40.711932 -74.016869
29               4  Manhattan   Financial District  40.707107 -74.010665
30               2  Manhattan        Carnegie Hill  40.782683 -73.953256
31               1  Manhattan                 Noho  40.723259 -73.988434
32               0  Manhattan         Civic Center  40.715229 -74.005415
33               2  Manhattan        Midtown South  40.748510 -73.988713
34               1  Manhattan         Sutton Place  40.760280 -73.963556
35               2  Manhattan           Turtle Bay  40.752042 -73.967708
36               0  Manhattan           Tudor City  40.746917 -73.971219
37               2  Manhattan      Stuyvesant Town  40.731000 -73.974052
38               2  Manhattan             Flatiron  40.739673 -73.990947
39               1  Manhattan         Hudson Yards  40.756658 -74.000111

In [55]:
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(neighborhoods_mh2['Latitude'], neighborhoods_mh2['Longitude'], neighborhoods_mh2['Neighborhood'], neighborhoods_mh2['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

## Step7 Print Out the Results

In [56]:
neighborhoods_mh2.loc[neighborhoods_mh2['Cluster Labels'] == 2, neighborhoods_mh2.columns[[2] + list(range(5, neighborhoods_mh2.shape[1]))]]

           Neighborhood
0           Marble Hill
2    Washington Heights
7           East Harlem
10           Lenox Hill
11     Roosevelt Island
15              Midtown
20      Lower East Side
21              Tribeca
25     Manhattan Valley
26  Morningside Heights
28    Battery Park City
30        Carnegie Hill
33        Midtown South
35           Turtle Bay
37      Stuyvesant Town
38             Flatiron